:root {
    --color1: #E0D7DC; /*Fondo Claro*/
    --color2: #1C69A1; /* Accent Light */
    --color3: #2F7EBD; /* Main */
    --color4: #26516D; /* Accent Dark */
    --color5: #2E3238; /*Fondo Oscuro*/

    --primary: #2f7ebd;
}

button {
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: var(--color1);
}

button.primary { background-color: #2f7ebd; }
button.info { background-color: #2e3238; }
button.success { background-color: #43a071; }
button.warning { background-color: #c19039; }
button.danger { background-color: #f44336; }

body {
    width: 100vw;
    background-color: var(--color5);
    color: var(--color1);
}

#title {
    font-size: 40pt;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
    /* DEBUG VARIABLES */
    border: 0px solid rgb(255, 255, 255); 
}

.title{
    font-size: 40pt;
}

.desc{
    font-size: 15pt;
}

.gif {
    height: 150pt;
}

.lk-button {
    color: white;
    position: relative;
    display: inline-block;
}

.kd-button {
    /* generic button */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 238, 0, 0);
    outline: 1px solid;
    outline-color: white;
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    position: relative;
    display: inline-block;
    margin-left: 0.1rem;
    overflow: hidden;
    vertical-align: middle;
}

.kd-button:hover {
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); 
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    text-decoration: none;
}

.proj-button
{
    border: 2px solid white;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	transition: transform .3s;
	max-width:10vh;
	min-width:10vh;
    min-height:10vh;
	max-height:10vh;
    vertical-align: middle;
}

.proj-button:hover {
    
    /* border: 3px solid white; */
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); 
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}
  
.proj-button-active
{
    position: relative;
    display: inline-block;
    border: 2px solid yellow;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .3s;
    vertical-align: middle;
    max-width:10vh;
    min-width:10vh;
    min-height:10vh;
    max-height:10vh;
}
  
.proj-button-active:hover
{
    box-shadow: inset 0 0 20px rgba(221, 189, 11, 0.5), 0 0 20px rgba(236, 221, 7, 0.5); 
    outline-color: yellow;
    text-shadow: 1px 1px 2px yellow;
}

.proj-button-img 
{
	overflow: hidden;
	transition: transform .5s;
	max-width: 100%;
	width: auto;
    height: auto;
    vertical-align: middle;
}